# This is a basic workflow to help you get started with Actions

name: Test Plugin

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # concurrency limit
concurrency:
  group: test-plugin-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: yarn

      - name: Run linter
        run: yarn run lint

  verify-web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install dependencies
        run: yarn

      - name: Run Verification
        run: yarn run verify:web

  verify-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: adopt

      - name: Make gradlew executable
        run: chmod +x android/gradlew

      - name: Install dependencies
        run: yarn

      - name: Run Verification
        run: yarn run verify:android
